html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: planet;
}
body {
  overflow-x: hidden;
  color: $black;
}
.moove-gdpr-cookie-notice {
  p {
    font-family: 'Outfit', sans-serif !important;
  }
}
.moove-gdpr-button-holder {
  .moove-gdpr-infobar-allow-all {
    font-family: 'Outfit', sans-serif !important;

  }
}
sup {
  vertical-align: super;
  font-size: 0.7em;
  margin-right: 5px;
}

textarea {
  word-wrap: break-word;
}

.d-none {
  display: none !important;
}

.link {
  cursor: pointer;
}
