html {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'GFS Didot', serif;
	background: #ffffff;
}

.pin-spacer {
    inset: initial !important;
}