@mixin span-transition($selector) {
    @for $i from 1 through length("#{$selector} span") {
      #{$selector} span:nth-child(#{$i}) {
        transition: 0.1s * $i + 0.1s;
      }
    }
  }
.custom-button {
  font-weight: bold;
  color: $grey-1000;
  border-radius: 2rem;
  cursor: pointer;
  width: 120px;
  height: 2rem;
  padding: 1rem 1.5rem;
  border: none;
  background-color: $dz-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn-text {
    display: flex;
    justify-content: center;
    width: 100px;
    display: flex;
    overflow: hidden;
  }
  .span-mother {
    @for $i from 1 through 5 {
      span:nth-child(#{$i}) {
        transition: 0.1s * $i + 0.1s;
      }
    }
  }

  &:hover {
    .span-mother {
      position: absolute;
    }
  }

  &:hover {
    .span-mother span {
      transform: translateY(1.2em);
    }
  }

  .span-mother2 {
    position: absolute;
    span {
      transform: translateY(-1.2em);
      transition: 0.2s;
    }
    &:hover span {
      transform: translateY(0);
    }
    @for $i from 2 through 5 {
      span:nth-child(#{$i}) {
        transition: 0.2s * $i + 0.1s;
      }
    }
  }
}
