/* Main Color */

$dz-primary: #EDFF00;
$dz-secondary: #D8DFD8;
$dz-tertiary: #EBF2EB;

/* Neutral Colors */

$grey-0: #FFF;
$grey-600: #DFDFDF;
$grey-700: #B1B1B1;
$grey-800: #646464;
$grey-900: #181818;
$grey-1000: #000;