/* Main Color */

$vf-primary: #D8DFD8;
$vf-secondary: #D8DFD8;
$vf-tertiary: #EBF2EB;

/* Neutral Colors */

$grey-0: #FFF;
$grey-600: #DFDFDF;
$grey-700: #B1B1B1;
$grey-800: #646464;
$grey-900: #181818;
$grey-1000: #000;

.color-primary {
    color: $vf-primary;
  }
  .color-white {
    color: $grey-0;
  }
  .color-black{
    
    color: $grey-900;
  }